@font-face {
  font-family: lucidaSansUnicode;
  src: url(./fonts/LSANS.TTF);
}

.App {
  width: 1440px;
  height: 900px;
  background-color: #3399cc;
  border: 25px solid #2b81ac;
  font-family: lucidaSansUnicode, sans-serif;
  color: white;
}

.App-header {
  width: 263px;
  height: 34px;
  margin-top: 60px;
  margin-left: 135px;
  color: white;
}

.App-header__title {
  font-size: 21px;
  line-height: 25px;
}

.App-footer {
  margin-left: 135px;
}
